@font-face
{
	font-family: 'Comfortaa-Bold';
	src: url('../fonts/Comfortaa-Bold.ttf');
}

@font-face
{
	font-family: Comfortaa-Light;
	src: url('../fonts/Comfortaa-Light.ttf');
}

@font-face
{
	font-family: Comfortaa-Regular;
	src: url('../fonts/Comfortaa-Regular.ttf');
}

*
{
	margin: 0;
	padding: 0;
	text-decoration: none
}

body
{
	font-family: Comfortaa-Regular;
	height: 100vh;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile
{
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#cssmenu:after,
#cssmenu > ul:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#cssmenu #head-mobile
{
	display: none
}

#cssmenu
{
	font-family: sans-serif;
	background: #fff;
}

#cssmenu ul.navigation > li:after
{
	content: "";
	width: 1px;
	height: 15px;
	background: #e5e5e5;
	position: absolute;
	top: 19px;
}

#cssmenu ul.navigation > li:first-child:after
{
	content: "";
	width: 1px;
	height: 15px;
	background: transparent;
	position: absolute;
	top: 19px;
}

#cssmenu ul.navigation > li:last-child:after
{
	content: "";
	width: 1px;
	height: 15px;
	background: #ddd;
	position: absolute;
	top: 3px;
}

#cssmenu > ul.navigation
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#cssmenu > ul.navigation.open
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%;
}

#cssmenu > ul.navigation > li > a
{
	position: relative;
}

#cssmenu > ul > li > a
{
	text-transform: uppercase;
	font-size: .9em;
	color: #869aa1;
	font-weight: 700;
	text-align: left;
	display: flex;
	align-items: center;
	padding: 20px 20px;
	justify-content: space-between;
	font-family: Comfortaa-Bold;
}

ul.navigation
{
	float: right;
	/*padding-right: 3% ;*/
	font-family: Comfortaa-Bold
}

#cssmenu > ul > li.has-sub > a
{
	padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:before
{
	position: absolute;
	top: 16px;
	right: 14px;
	display: block;
	width: 10px;
	height: 8px;
	font-size: 18px;
	/*background: #869aa1;*/
	content: "\f107";
	/*content: '';*/
	font-family: "Font Awesome 5 Free";

	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu ul ul
{
	position: absolute;
	left: -9999px
}

#cssmenu ul ul li
{
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	/*background: #333;*/
	transition: all .25s ease;
	/*position: absolute;*/
	top: 100%;
	left: 0;
	z-index: 7;
	padding: 5px 0;
	margin: 0;
	background-clip: padding-box;

}

#cssmenu ul.sub-menu
{
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .15);
	background-clip: padding-box;
}

#cssmenu ul ul li:hover
{
}

#cssmenu li:hover > ul
{
	left: auto
}

#cssmenu li:hover > ul > li
{
	height: 35px
}

#cssmenu ul ul ul
{
	margin-left: 100%;
	top: 0
}

#cssmenu ul ul li a
{
	/*border-bottom: 1px solid rgba(150, 150, 150, 0.15);*/
	border-bottom: unset;
	padding: 11px 15px;
	width: auto;
	font-size: 12px;
	text-decoration: none;
	color: #869aa1;
	font-weight: 700;
	font-family: Comfortaa-Bold;
	text-transform: uppercase;
	padding-right: 45px;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a
{
	border-bottom: 0
}

#cssmenu ul ul li.has-sub > a:before
{
	position: absolute;
	top: 6px;
	right: 14px;
	display: block;
	width: 10px;
	height: 8px;
	font-size: 18px;
	/*background: #869aa1;*/
	content: "\f107";
	/*content: '';*/
	font-family: "Font Awesome 5 Free";
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu ul ul ul li.active a
{
	border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a
{
	border-top: 1px solid #333
}

ul.navigation.open
{
	background: #fff;
}


.landing_page_container
{
	width: 100%;
	margin: 0 auto;
}

.container-header
{
	background: linear-gradient(178deg, #bbccc4 0, rgba(0, 75, 99, 0) 60%, rgba(0, 75, 99, 0));
}

.head_image
{
	text-align: center;
}

/*.wrap{*/
/*background:#fff;*/
/*}*/
.head_info
{
	padding: 60px 0;
	text-align: center;
}

.head_info, .wrap
{
	width: 80%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.container_form input
{
	text-align: left;
	font-size: 18px !important;
	color: #000000;
	font-family: Comfortaa-Regular;
	color: #4F4F4F;
	line-height: 26px;
	padding: 10px 12px !important;
	border-bottom: 1px solid #BDBDBD;
	box-sizing: border-box;
	opacity: 0.8;
	margin-bottom: 20px;
	outline: none;
	width: 100%;
}

input[type="checkbox"]
{
	width: auto;
	text-align: left;
	margin: 0 auto;
}

.check
{
	cursor: pointer;
	position: relative;
	margin: auto;
	width: 18px;
	height: 18px;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
}

.check:before
{
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: rgba(34, 50, 84, 0.03);
	opacity: 0;
	transition: opacity 0.2s ease;
}

.check svg
{
	position: relative;
	z-index: 1;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #c8ccd4;
	stroke-width: 1.5;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
}

.check svg path
{
	stroke-dasharray: 60;
	stroke-dashoffset: 0;
}

.check svg polyline
{
	stroke-dasharray: 22;
	stroke-dashoffset: 66;
}

.check:hover:before
{
	opacity: 1;
}

.check:hover svg
{
	stroke: #4285f4;
}

#cbx:checked + .check svg
{
	stroke: #4285f4;
}

#cbx:checked + .check svg path
{
	stroke-dashoffset: 60;
	transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline
{
	stroke-dashoffset: 42;
	transition: all 0.2s linear;
	transition-delay: 0.15s;
}


b
{
	font-family: Comfortaa-Bold;
}

h1, h3
{
	font-family: Comfortaa-Bold;
	line-height: 2em;
}

h2
{
	font-family: Comfortaa-Bold;
	color: #086A71;
	padding-top: 10px;
	padding-bottom: 10px;
}

.question-title
{
	font-weight: 800;
	color: #0C7AA4;
	font-size: 1.2em;
}

.title-blue
{
	color: #086A71;
}

h1
{
	color: #0C7AA4;
}

p
{
	font-family: Comfortaa-Light;
}

header
{
	position: relative;
	width: 100%;
	background: #fff;
}

.logo
{
	position: relative;
	z-index: 123;
	padding: 10px;
	font: 18px verdana;
	color: #6DDB07;
	float: left;
	width: 15%
}

.header__logo img
{
	max-width: 264px;
	padding: 3px 0;
}

.logo a
{
	color: #6DDB07;
}

button#searchsubmit
{
	display: none;
}

#searchform input#s
{
	box-shadow: none;
	outline: none;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #869aa1;
}

#searchform:before
{
	content: "\f002";
	font-weight: 900;
	color: #869aa1;
	font-family: Font Awesome\ 5 Free;
	margin-left: 15px;
	margin-right: 10px;
}

nav
{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 9px 20px;
}

.content_text, .content_form
{
	width: 50%;
	padding: 20px 20px;

}

.container_form
{
	margin: 0 auto;
	padding: 70px 50px 50px;
	width: 500px;
	border: 1px solid #0779A3;
}

ul
{
	list-style-type: decimal;
}

ul li
{
	padding-top: 10px;
	padding-bottom: 10px;
}

ul li p
{
	font-size: 1em;
	line-height: 1.7em;
}

.wrap
{
	padding: 1% 5%;

	display: flex;
	justify-content: space-between;
}

label
{
	color: gray;

}

.btn
{
	align-items: center;

}

.registerbtn {
	padding: 0;
	width: 100%;
	height: 69px;
	font-size: 18px;
	line-height: 69px;
	text-align: center;
	color: #0779A3;
	background: none;
	border: 1px solid #0779A3;
	transition: all .4s;
}
.registerbtn:hover {
	background: #0779A3;
	color: white;
	cursor: pointer;
}

.footer-flex
{
	background-color: #067da0;
	padding: 40px;
}

.footer-flex__widgetarea
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.wbcontainer
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-flex p
{
	font-size: .9em;
	line-height: 1.8em;
	font-weight: 400;
	letter-spacing: .59px;
	font-family: Comfortaa, sans-serif;
}

.footer-flex a, .footer-flex p
{
	color: hsla(0, 0%, 100%, .75);
}

.footer-flex img
{
	width: 150px;
	margin-bottom: 15px;
}

.footer-social a i
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 43px;
	height: 41.74px;
	background-color: hsla(0, 0%, 100%, .15);
}

.closure, .closure__text
{
	font-weight: 400;
	line-height: 24px;
}

.closure
{
	background-color: #0e4b57;
	padding: 30px 0;
	font-size: .9em;
}

.closure__text
{
	font-family: Comfortaa, sans-serif;
	color: hsla(0, 0%, 100%, .46);
	text-align: center;
	margin-bottom: 10px;
}

.closure, .closure__text
{
	font-weight: 400;
	line-height: 24px;
}

ul.closure__nav
{
	list-style-type: none;
	margin: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

ul.closure__nav li
{
	display: inline;
}

.gmap_canvas
{
	overflow: hidden;
	background: none !important;
	width: 100% !important;
	max-width: 100%;
}

.mapouter
{
	text-align: right;
	height: 500px;
	width: 100% !important;
}

div#custom_html-2
{
	padding-right: 40px;
}

ul.navigation.open li
{
	padding-bottom: 0;
}

.image_item
{
	width: 160px;
	padding: 10px;
}

.image_item img
{
	width: 100%;
}

.image_after_form
{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
	align-items: center;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 668px)
{

	ul.navigation.open li a
	{
		font-size: 1.5em !important;
	}

	.text_sub_form .question-title
	{
		font-weight: 800;
		color: #0C7AA4;
		font-size: 3.2em;
		line-height: 4em;
	}

	.content_text.text_sub_form p b
	{
		font-family: Comfortaa-Bold;
		font-size: 1.8em;
	}

	nav#cssmenu .button
	{
		width: 70px;
		height: 70px;
		position: fixed;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12399994;
		transform: scale(2);
		top: 30px;
		right: 30px;
	}

	nav#cssmenu
	{
		height: 160px;
	}

	.logo
	{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 66px;
		/* text-align: center; */
		padding: 10px 0 0 0;
		/* float: left; */
	}

	.logo2
	{
		display: none
	}

	nav
	{
		width: 100%;
	}

	#cssmenu
	{
		width: 100%
	}

	#cssmenu ul
	{
		width: 100%;
		display: none
	}

	#cssmenu ul li
	{
		width: 100%;
		border-bottom: 1px solid #ddd;
	}

	#cssmenu ul li:hover
	{
		background: #e7f2ffd4;
	}

	#cssmenu ul ul li,
	#cssmenu li:hover > ul > li
	{
		height: auto
	}

	#cssmenu ul li a,
	#cssmenu ul ul li a
	{
		width: 100%;
		border-bottom: 0;
		color: #74b6ca;
		font-family: Comfortaa-Light;
		font-weight: 300;
		padding: 17px 0 !important;
	}

	#cssmenu > ul > li
	{
		float: none
	}

	#cssmenu ul ul li a
	{
		padding-left: 25px
	}

	#cssmenu ul ul li
	{
		background: #fff !important;
	}

	#cssmenu ul ul li:hover
	{
		background: #e7f2ffd4 !important
	}

	#cssmenu ul ul ul li a
	{
		padding-left: 35px
	}

	#cssmenu ul ul li a
	{
		color: #74b6ca;
		background: none
	}

	#cssmenu ul ul li:hover > a,
	#cssmenu ul ul li.active > a
	{
		color: #0012ff
	}

	#cssmenu ul ul,
	#cssmenu ul ul ul
	{
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left
	}

	#cssmenu > ul > li.has-sub > a:after,
	#cssmenu > ul > li.has-sub > a:before,
	#cssmenu ul ul > li.has-sub > a:after,
	#cssmenu ul ul > li.has-sub > a:before
	{
		display: none
	}

	#cssmenu #head-mobile
	{
		display: block;
		padding: 23px;
		color: #ddd;
		font-size: 12px;
		font-weight: 700
	}

	.button
	{
		width: 55px;
		height: 46px;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12399994;
	}

	.button:after
	{
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 4px;
		width: 20px;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000000;
		content: ''
	}

	.button:before
	{
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		top: 16px;
		right: 20px;
		display: block;
		height: 2px;
		width: 20px;
		background: #000;
		content: ''
	}

	.button.menu-opened:after
	{
		-webkit-transition: all .1s ease;
		-ms-transition: all .1s ease;
		transition: all .1s ease;
		top: 23px;
		border: 0;
		height: 2px;
		width: 19px;
		background: #000;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}

	.button.menu-opened:before
	{
		top: 23px;
		background: #000;
		width: 19px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}

	#cssmenu ul.navigation.open > li:after
	{
		content: "";
		width: 1px;
		height: 15px;
		background: transparent;
		position: absolute;
		top: 19px;
	}

	#cssmenu .submenu-button
	{
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid #ddd;
		height: 56px;
		width: 46px;
		cursor: pointer
	}

	#cssmenu .submenu-button.submenu-opened
	{
		background: #067da0;
	}

	#cssmenu ul ul .submenu-button
	{
		height: 34px;
		width: 34px
	}

	#cssmenu .submenu-button:after
	{
		position: absolute;
		top: 22px;
		right: 19px;
		width: 8px;
		height: 2px;
		display: block;
		background: #ddd;
		content: ''
	}

	#cssmenu ul ul .submenu-button:after
	{
		top: 15px;
		right: 13px
	}

	#cssmenu .submenu-button.submenu-opened:after
	{
		background: #fff
	}

	#cssmenu .submenu-button:before
	{
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #ddd;
		content: ''
	}

	#cssmenu ul ul .submenu-button:before
	{
		top: 12px;
		right: 16px
	}

	#cssmenu .submenu-button.submenu-opened:before
	{
		display: none
	}

	#cssmenu ul ul ul li.active a
	{
		border-left: none
	}

	#cssmenu > ul > li.has-sub > ul > li.active > a,
	#cssmenu > ul ul > li.has-sub > ul > li.active > a
	{
		border-top: none
	}

	.wrap
	{
		/*width: 100%;*/
		padding: 1% 5%;
		display: flex;
		flex-direction: column;

		justify-content: space-between;
	}

	.content_text, .content_form
	{
		width: 100%;
		padding: 20px 20px;
		margin: 0 auto;
	}

	ul li p
	{
		font-size: 2.2em;
		line-height: 1.7em;
	}


	.container_form
	{
		width: 100%;
		margin: 0 auto;
	}

	.question-title
	{
		font-weight: 800;
		color: #0C7AA4;
		font-size: 3.2em;
		line-height: 4em;
	}

	.contattaci_form
	{
		width: 100%;
		max-width: 800px;
		margin: 0;
		padding: 0;
	}

	label b
	{
		font-size: 30px;
	}

	.container_form input
	{
		text-align: left;
		font-size: 38px !important;
		color: #000000;
		font-family: Comfortaa-Regular;
		color: #4F4F4F;
		line-height: 49px;
		padding: 10px 12px !important;
		border-bottom: 1px solid #BDBDBD;
		box-sizing: border-box;
		opacity: 0.8;
		margin-bottom: 4px;
		outline: none;
		width: 100%;
	}

	button.registerbtn
	{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: Roboto, sans-serif;
		border-radius: 3px;
		padding: 15px 25px;
		text-transform: uppercase;
		font-weight: 600;
		background-color: #067da0;
		color: #fff;
		border-color: unset;
		border-width: thin;
		width: 100%;
		font-size: 50px;
	}

	.check svg
	{
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		font-size: 32px;
		width: 50px !important;
		height: 50px !important;
	}

	.footer-flex__widgetarea
	{
		display: flex;
		flex-wrap: wrap !important;
		justify-content: flex-start;


	}

	.footer-flex p
	{
		font-size: 21px;
		line-height: 1.9em;
		font-weight: 400;
		letter-spacing: 0.59px;
		font-family: Comfortaa, sans-serif;
	}

	.head_image
	{
		text-align: center;
		/*width: 300px;*/
		margin: 0 auto;
	}

	.contattaci_form .image_after_form
	{
		width: 100%;
		display: block;
		justify-content: center;
		padding: 20px;
		align-items: center;
		flex-direction: column !important;
	}

	.image_after_form .image_item
	{
		width: 250px !important;
		padding: 10px;
	}
}

@media screen  and (min-width: 669px) and (max-width: 1000px)
{

	nav#cssmenu
	{
		height: 160px;
	}


	.logo
	{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 66px;
		/* text-align: center; */
		padding: 10px 0 0 0;
		/* float: left; */
	}

	.logo2
	{
		display: none
	}

	nav
	{
		width: 100%;
	}

	#cssmenu
	{
		width: 100%
	}

	#cssmenu ul
	{
		width: 100%;
		display: none
	}

	#cssmenu ul li
	{
		width: 100%;
		border-bottom: 1px solid #ddd;
	}

	#cssmenu ul li:hover
	{
		background: #e7f2ffd4;
	}

	#cssmenu ul ul li,
	#cssmenu li:hover > ul > li
	{
		height: auto
	}

	#cssmenu ul li a,
	#cssmenu ul ul li a
	{
		width: 100%;
		border-bottom: 0;
		color: #74b6ca;
		font-family: Comfortaa-Light;
		font-weight: 300;
		padding: 17px 0 !important;

	}

	#cssmenu > ul > li
	{
		float: none
	}

	#cssmenu ul ul li a
	{
		padding-left: 25px
	}

	#cssmenu ul ul li
	{
		background: #fff !important;
	}

	#cssmenu ul ul li:hover
	{
		background: #e7f2ffd4 !important
	}

	#cssmenu ul ul ul li a
	{
		padding-left: 35px
	}

	#cssmenu ul ul li a
	{
		color: #74b6ca;
		background: none
	}

	#cssmenu ul ul li:hover > a,
	#cssmenu ul ul li.active > a
	{
		color: #0012ff
	}

	#cssmenu ul ul,
	#cssmenu ul ul ul
	{
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left
	}

	#cssmenu > ul > li.has-sub > a:after,
	#cssmenu > ul > li.has-sub > a:before,
	#cssmenu ul ul > li.has-sub > a:after,
	#cssmenu ul ul > li.has-sub > a:before
	{
		display: none
	}

	#cssmenu #head-mobile
	{
		display: block;
		padding: 23px;
		color: #ddd;
		font-size: 12px;
		font-weight: 700
	}

	.button
	{
		width: 55px;
		height: 46px;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12399994;
	}

	.button:after
	{
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 4px;
		width: 20px;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000000;
		content: ''
	}

	.button:before
	{
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		top: 16px;
		right: 20px;
		display: block;
		height: 2px;
		width: 20px;
		background: #000;
		content: ''
	}

	.button.menu-opened:after
	{
		-webkit-transition: all .1s ease;
		-ms-transition: all .1s ease;
		transition: all .1s ease;
		top: 23px;
		border: 0;
		height: 2px;
		width: 19px;
		background: #000;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}

	.button.menu-opened:before
	{
		top: 23px;
		background: #000;
		width: 19px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}

	#cssmenu ul.navigation.open > li:after
	{
		content: "";
		width: 1px;
		height: 15px;
		background: transparent;
		position: absolute;
		top: 19px;
	}

	#cssmenu .submenu-button
	{
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid #ddd;
		height: 56px;
		width: 46px;
		cursor: pointer
	}

	#cssmenu .submenu-button.submenu-opened
	{
		background: #067da0;
	}

	#cssmenu ul ul .submenu-button
	{
		height: 34px;
		width: 34px
	}

	#cssmenu .submenu-button:after
	{
		position: absolute;
		top: 22px;
		right: 19px;
		width: 8px;
		height: 2px;
		display: block;
		background: #ddd;
		content: ''
	}

	#cssmenu ul ul .submenu-button:after
	{
		top: 15px;
		right: 13px
	}

	#cssmenu .submenu-button.submenu-opened:after
	{
		background: #fff
	}

	#cssmenu .submenu-button:before
	{
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #ddd;
		content: ''
	}

	#cssmenu ul ul .submenu-button:before
	{
		top: 12px;
		right: 16px
	}

	#cssmenu .submenu-button.submenu-opened:before
	{
		display: none
	}

	#cssmenu ul ul ul li.active a
	{
		border-left: none
	}

	#cssmenu > ul > li.has-sub > ul > li.active > a,
	#cssmenu > ul ul > li.has-sub > ul > li.active > a
	{
		border-top: none
	}


	.wrap
	{
		/*width: 100%;*/
		padding: 1% 5%;
		display: flex;
		flex-direction: column;

		justify-content: space-between;
	}

	.content_text, .content_form
	{
		width: 100%;
		padding: 20px 20px;
		margin: 0 auto;
	}

	ul li p
	{
		font-size: 1.2em;
		line-height: 1.7em;
	}

	.container_form
	{
		width: 100%;
		margin: 0 auto;
	}

	.question-title
	{
		font-weight: 800;
		color: #0C7AA4;
		font-size: 2.2em;
		line-height: 4em;
	}

	.contattaci_form
	{
		width: 100%;
		max-width: 800px;
		margin: 0;
		padding: 0;
	}

	label b
	{
		font-size: 30px;
	}

	.container_form input
	{
		text-align: left;
		font-size: 38px !important;
		color: #000000;
		font-family: Comfortaa-Regular;
		color: #4F4F4F;
		line-height: 49px;
		padding: 10px 12px !important;
		border-bottom: 1px solid #BDBDBD;
		box-sizing: border-box;
		opacity: 0.8;
		margin-bottom: 4px;
		outline: none;
		width: 100%;
	}

	button.registerbtn
	{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: Roboto, sans-serif;
		border-radius: 3px;
		padding: 15px 25px;
		text-transform: uppercase;
		font-weight: 600;
		background-color: #067da0;
		color: #fff;
		border-color: unset;
		border-width: thin;
		width: 100%;
		font-size: 50px;
	}

	.check svg
	{
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		font-size: 32px;
		width: 50px !important;
		height: 50px !important;
	}

	.footer-flex__widgetarea
	{
		display: flex;
		flex-wrap: wrap !important;
		justify-content: flex-start;


	}

	.footer-flex p
	{
		font-size: 21px;
		line-height: 1.9em;
		font-weight: 400;
		letter-spacing: 0.59px;
		font-family: Comfortaa, sans-serif;
	}

	.head_image
	{
		text-align: center;
		/*width: 300px;*/
		margin: 0 auto;
	}
}

@media screen  and (min-width: 1001px) and (max-width: 1330px)
{
	#cssmenu
	{
		margin: 0 auto;
		max-width: 1140px;
		font-family: sans-serif;
		background: #fff;
		display: flex;
		justify-content: space-between;
	}


	ul.navigation
	{
		width: 80%;
	}

	.header__logo img
	{
		max-width: 100%;
		padding: 3px 0;
	}

	.logo
	{
		width: 20%;
	}

	#cssmenu > ul > li > a
	{
		text-transform: uppercase;
		font-size: .8em;
		color: #869aa1;
		font-weight: 700;
		text-align: left;
		display: flex;
		align-items: center;
		padding: 20px 17px;
		justify-content: space-between;
		font-family: Comfortaa-Bold;
	}
}


.landing_page_container .question-title
{
	margin-bottom: 40px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 125%;
	text-align: center;
}

select
{
	padding-left: 30px;
	text-align: center;
	width: 100%;
	height: 51px;
	font-size: 16px;
	line-height: 51px;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	background: #f5f5f5;
	transition: all .3s;
}
select option {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
}
/*.landing_page_container .jq-selectbox__dropdown ul li:nth-child(even):hover {*/
/*	background: #e8e8e8;*/
/*}*/

/*.landing_page_container .jq-selectbox__dropdown ul li:nth-child(odd) {*/
/*	background: #e3e3e3;*/
/*}*/
/*.landing_page_container .jq-selectbox__dropdown ul li:nth-child(odd):hover {*/
/*	background: #d7d7d7;*/
/*}*/


/*.landing_page_container .jq-selectbox__dropdown,*/
/*.landing_page_container .jq-selectbox__dropdown ul*/
/*{*/
/*	width: 100%;*/
/*	cursor: pointer;*/
/*}*/
/*.landing_page_container .jq-selectbox__dropdown ul {*/
/*	box-shadow: 0 8px 8px rgba(0,0,0,.1);*/
/*}*/


.jq-selectbox__select-text
{
	height: 51px;
	line-height: 51px;
	color: rgba(0, 0, 0, 0.5);
}

.form-group
{
	margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
textarea
{
	height: 51px;
	font-size: 16px;
	line-height: 51px;
	color: rgba(0, 0, 0, 0.5);
	background: #f5f5f5;
	border: none;
}

textarea
{
	width: 100%;
	height: 130px;
}

.form-group input[type="tel"]::-moz-placeholder,
.form-group input[type="email"]::-moz-placeholder,
.form-group input[type="text"]::-moz-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]::-webkit-input-placeholder,
.form-group input[type="email"]::-webkit-input-placeholder,
.form-group input[type="text"]::-webkit-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]:-ms-input-placeholder,
.form-group input[type="email"]:-ms-input-placeholder,
.form-group input[type="text"]:-ms-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]::-ms-input-placeholder,
.form-group input[type="email"]::-ms-input-placeholder,
.form-group input[type="text"]::-ms-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group input[type="text"]::placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-ms-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-ms-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-moz-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-webkit-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea:-ms-input-placeholder
{
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.obligations {
	margin-bottom: 30px;
	font-size: 14px;
	text-align: right;
	color: rgba(0, 0, 0, 0.5);
}

.checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.checkbox .check {
	margin-right: 10px;
}
.checkbox .a {
	font-size: 10px;
	color: rgba(0, 0, 0, 0.5);
}

