@font-face {
	font-family: 'Comfortaa-Bold';
	src: url('../fonts/Comfortaa-Bold.ttf');
}

@font-face {
	font-family: Comfortaa-Light;
	src: url('../fonts/Comfortaa-Light.ttf');
}

@font-face {
	font-family: Comfortaa-Regular;
	src: url('../fonts/Comfortaa-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none
}

body {
	font-family: Comfortaa-Regular;
	max-width: 1920px;
	margin: 0 auto;
}

body.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-right: 14px;
	overflow: hidden;
}

#cssmenu,
#cssmenu #head-mobile {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#cssmenu #head-mobile {
	display: none
}

#cssmenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1920px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	font-family: sans-serif;
	background: #fff;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.navigation.open {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 40px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	z-index: 1000000;
}

.navigation.open li {
	width: 100%;
}

.navigation.open a {
	display: block;
	text-align: left;
	border-bottom: 1px solid #aaa;
}

.navigation a {
	text-transform: uppercase;
	font-size: 16px;
	color: #2a2a2a;
	font-weight: 200;
	text-align: left;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	justify-content: space-between;
	font-family: Comfortaa-Regular;
	transition: all .3s;
}

 .navigation li a:hover {
	color: #0079a2;
}

.navigation li {
	position: relative;
}

.navigation li.has-children {
	position: relative;
}
.navigation li.has-children:hover > svg {
	fill: #0079a2;
}
.navigation > li.has-children > svg {
	position: absolute;
	top: 14%;
	right: -5px;
	width: 12px;
	fill: #555;
	transition: all .4s;
}
.navigation ul.sub-menu {
	position: absolute;
	top: 92%;
	left: 0;
	z-index: 7;
	display: none;
	margin: 0;
	background-color: #f5f5f5;
	background-clip: padding-box;
}

.navigation ul.sub-menu a {
	padding: 20px 30px 20px 20px;
	border-bottom: 1px solid #ccc;
}



.navigation ul.sub-menu li.has-children {
	position: relative;
	transition: all .3s;
}
.navigation ul.sub-menu li.has-children:hover svg {
	fill: #0079a2;
}

.navigation ul.sub-menu svg {
	position: absolute;
	top: 26%;
	right: 8px;
	width: 12px;
	fill: #555;
	transition: all .4s;
}
.navigation .sub-menu-inner {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	width: 390px;
	background: #f5f5f5;
}

.navigation.open {
	background: #fff;
}

@media screen and (max-width: 1265px) {
	.navigation ul.sub-menu {
		position: static;
	}
	.navigation a,
	.navigation ul.sub-menu a {
		padding: 15px;
	}
	.navigation ul.sub-menu svg,
	.navigation > li.has-children svg {
		top: 0;
		padding: 10px 20px;
		right: 5%;
		z-index: 1000000;
	}
	.navigation .sub-menu-inner {
		position: static;
		width: 100%;
	}
}

.landing_page_container {
	font-family: Comfortaa-Regular;
	width: 100%;
	margin: 0 auto;
}

.container-header {
	background: url("../images/header-bg.jpg");
}

.head_image {
	text-align: center;
}

/*.wrap{*/
/*background:#fff;*/
/*}*/
.head_info {
	padding: 60px 0;
	color: #FFFFFF;
}

.head_info, .wrap {
	width: 80%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.head_info h1 {
	font-family: Comfortaa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-align: left;
	color: #FFFFFF;
}

.head_info h2 {
	font-family: Comfortaa-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 125%;
	text-transform: uppercase;
	color: #FFFFFF;
}

.container_form input {
	text-align: left;
	font-size: 18px;
	color: #000000;
	font-family: Comfortaa-Regular;
	color: #4F4F4F;
	line-height: 26px;
	padding: 0 12px;
	border-bottom: 1px solid #BDBDBD;
	box-sizing: border-box;
	opacity: 0.8;
	margin-bottom: 20px;
	outline: none;
	width: 100%;
}

input[type="checkbox"] {
	width: auto;
	text-align: left;
	margin: 0 auto;
}

.check {
	cursor: pointer;
	position: relative;
	margin: auto;
	width: 18px;
	height: 18px;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
}

.check:before {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: rgba(34, 50, 84, 0.03);
	opacity: 0;
	transition: opacity 0.2s ease;
}

.check svg {
	position: relative;
	width: 18px;
	height: 18px;
	z-index: 1;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #c8ccd4;
	stroke-width: 1.5;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
}

.check svg path {
	stroke-dasharray: 60;
	stroke-dashoffset: 0;
}

.check svg polyline {
	stroke-dasharray: 22;
	stroke-dashoffset: 66;
}

.check:hover:before {
	opacity: 1;
}

.check:hover svg {
	stroke: #4285f4;
}

#cbx:checked + .check svg {
	stroke: #4285f4;
}

#cbx:checked + .check svg path {
	stroke-dashoffset: 60;
	transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
	stroke-dashoffset: 42;
	transition: all 0.2s linear;
	transition-delay: 0.15s;
}


b {
	font-family: Comfortaa-Bold;
}


h2 {
	font-family: Comfortaa-Bold;
	color: #086A71;
	padding-top: 10px;
	padding-bottom: 10px;
}

.question-title {
	font-weight: 800;
	color: #0C7AA4;
}

.title-blue {
	color: #086A71;
}

h1 {
	color: #0C7AA4;
}

p {
	font-family: Comfortaa-Light;
}

header {
	position: relative;
	width: 100%;
	background: #fff;
}

.logo {
	position: relative;
	z-index: 123;
	padding: 10px;
	font: 18px verdana;
	color: #6DDB07;
	float: left;
	width: 15%
}


.header__logo img {
	max-width: 264px;
	padding: 3px 0;
}

.logo a {
	color: #6DDB07;
}

button#searchsubmit {
	display: none;
}

#searchform input#s {
	box-shadow: none;
	outline: none;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #869aa1;
}

#searchform:before {
	content: "\f002";
	font-weight: 900;
	color: #869aa1;
	font-family: Font Awesome\ 5 Free;
	margin-left: 15px;
	margin-right: 10px;
}

nav {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 9px 20px;
}

.content_text, .content_form {
	width: 50%;
	padding: 20px 20px;

}


.content_text p {
	font-size: 18px;
	line-height: 1.5;
	opacity: .7;
}

.container_form {
	margin: 0 0 0 auto;
	padding: 70px 50px 50px;
	width: 500px;
	border: 1px solid #0779A3;
}

.wrap {
	display: flex;
	justify-content: space-between;
	padding: 68px 0;
}

label {
	color: gray;

}

.btn {
	align-items: center;

}

.registerbtn {
	padding: 0;
	width: 100%;
	height: 69px;
	font-size: 18px;
	line-height: 69px;
	text-align: center;
	color: #0779A3;
	background: none;
	border: 1px solid #0779A3;
	transition: all .4s;
}

.registerbtn:hover {
	background: #0779A3;
	color: white;
	cursor: pointer;
}

.footer-flex {
	background-color: #067da0;
	padding: 40px;
}

.footer-flex__widgetarea {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.wbcontainer {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-flex p {
	font-weight: 400;
	letter-spacing: .59px;
	line-height: 1.5;
	font-family: Comfortaa, sans-serif;
}

.footer-flex a, .footer-flex p {
	color: hsla(0, 0%, 100%, .75);
}

.footer-flex img {
	width: 150px;
	margin-bottom: 15px;
}

.footer-social a i {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 72px;
	height: 72px;
	background-color: hsla(0, 0%, 100%, .15);
	transition: all .3s;
}

.footer-social a i:hover {
	background-color: hsla(0, 0%, 100%, .10);
}

.footer-social a i::before {
	font-size: 24px;
}


.closure, .closure__text {
	font-weight: 400;
	line-height: 24px;
}

.closure {
	background-color: #0e4b57;
	padding: 30px 0;
}

.closure__text {
	font-family: Comfortaa, sans-serif;
	color: hsla(0, 0%, 100%, .46);
	text-align: center;
	margin-bottom: 10px;
}

.closure, .closure__text {
	font-weight: 400;
	line-height: 24px;
}

ul.closure__nav {
	list-style-type: none;
	margin: 0;
	display: block;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

ul.closure__nav li {
	display: inline;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 100% !important;
	max-width: 100%;
}

.mapouter {
	text-align: right;
	height: 500px;
	width: 100% !important;
}

div#custom_html-2 {
	padding-right: 40px;
}

.image_item {
	width: 160px;
	padding: 10px;
}

.image_item img {
	width: 100%;
}

.image_after_form {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
	align-items: center;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 668px) {

	.text_sub_form .question-title {
		font-weight: 800;
		color: #0C7AA4;
	}

	.content_text.text_sub_form p b {
		font-family: Comfortaa-Bold;
	}

	nav#cssmenu .button {
		position: absolute;
		top: 14px;
		right: 16px;
		cursor: pointer;
		z-index: 12399994;
	}

	.logo2 {
		display: none
	}

	nav {
		width: 100%;
	}

	#cssmenu {
		width: 100%
	}

	.content_text, .content_form {
		width: 100%;
		padding: 20px 20px;
		/*margin: 0 auto;*/
	}


	.container_form {
		width: 100%;
		margin: 0 auto;
	}

	.question-title {
		font-weight: 800;
		color: #0C7AA4;
	}

	.contattaci_form {
		width: 100%;
		max-width: 800px;
		margin: 0;
		padding: 0;
	}

	label b {
		font-size: 30px;
	}

	.check svg {
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		font-size: 32px;
	}

	.footer-flex__widgetarea {
		display: flex;
		flex-wrap: wrap !important;
		justify-content: flex-start;


	}

	.head_image {
		text-align: center;
		/*width: 300px;*/
		margin: 0 auto;
	}

	.contattaci_form .image_after_form {
		width: 100%;
		display: block;
		justify-content: center;
		padding: 20px;
		align-items: center;
		flex-direction: column !important;
	}

	.image_after_form .image_item {
		width: 250px !important;
		padding: 10px;
	}
}

@media screen and (max-width: 1265px) {
	.button {
		width: 55px;
		height: 46px;
		position: absolute;
		right: 16px;
		top: 14px;
		cursor: pointer;
		z-index: 12399994;
	}

	.button:after {
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 4px;
		width: 20px;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000000;
		content: ''
	}

	.button:before {
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		top: 16px;
		right: 20px;
		display: block;
		height: 2px;
		width: 20px;
		background: #000;
		content: ''
	}

	.button.menu-opened:after {
		-webkit-transition: all .1s ease;
		-ms-transition: all .1s ease;
		transition: all .1s ease;
		top: 23px;
		border: 0;
		height: 2px;
		width: 19px;
		background: #000;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}

	.button.menu-opened:before {
		top: 23px;
		background: #000;
		width: 19px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	.navigation {
		display: none;
	}

}


@media screen  and (min-width: 669px) and (max-width: 1000px) {

	.logo2 {
		display: none
	}

	nav {
		width: 100%;
	}
	.question-title {
		font-weight: 800;
		color: #0C7AA4;
	}

	.contattaci_form {
		width: 100%;
		max-width: 800px;
		margin: 0;
		padding: 0;
	}

	.check svg {
		position: relative;
		z-index: 1;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #c8ccd4;
		stroke-width: 1.5;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		font-size: 32px;
	}

	.footer-flex__widgetarea {
		display: flex;
		flex-wrap: wrap !important;
		justify-content: flex-start;


	}

	.head_image {
		text-align: center;
		/*width: 300px;*/
		margin: 0 auto;
	}
}


.landing_page_container .question-title {
	font-family: Comfortaa-Bold;
	margin-bottom: 28px;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 125%;
	letter-spacing: -1px;
	text-align: left;
	color: #057da0;
}

select {
	padding-left: 30px;
	text-align: center;
	width: 100%;
	height: 51px;
	font-size: 16px;
	line-height: 51px;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	background: #f5f5f5;
	transition: all .3s;
}

select option {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
}

/*.landing_page_container .jq-selectbox__dropdown ul li:nth-child(even):hover {*/
/*	background: #e8e8e8;*/
/*}*/

/*.landing_page_container .jq-selectbox__dropdown ul li:nth-child(odd) {*/
/*	background: #e3e3e3;*/
/*}*/
/*.landing_page_container .jq-selectbox__dropdown ul li:nth-child(odd):hover {*/
/*	background: #d7d7d7;*/
/*}*/


/*.landing_page_container .jq-selectbox__dropdown,*/
/*.landing_page_container .jq-selectbox__dropdown ul*/
/*{*/
/*	width: 100%;*/
/*	cursor: pointer;*/
/*}*/
/*.landing_page_container .jq-selectbox__dropdown ul {*/
/*	box-shadow: 0 8px 8px rgba(0,0,0,.1);*/
/*}*/


.jq-selectbox__select-text {
	height: 51px;
	line-height: 51px;
	color: rgba(0, 0, 0, 0.5);
}

.form-group {
	margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
	height: 51px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
textarea {
	line-height: 51px;
	font-size: 16px;
	text-indent: 15px;
	color: rgba(0, 0, 0, 0.5);
	background: #f5f5f5;
	border: none;
}

textarea {
	width: 100%;
	height: 130px;
}

.form-group input[type="tel"]::-moz-placeholder,
.form-group input[type="email"]::-moz-placeholder,
.form-group input[type="text"]::-moz-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]::-webkit-input-placeholder,
.form-group input[type="email"]::-webkit-input-placeholder,
.form-group input[type="text"]::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]:-ms-input-placeholder,
.form-group input[type="email"]:-ms-input-placeholder,
.form-group input[type="text"]:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]::-ms-input-placeholder,
.form-group input[type="email"]::-ms-input-placeholder,
.form-group input[type="text"]::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.form-group input[type="tel"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group input[type="text"]::placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-moz-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

textarea:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
}

.obligations {
	margin-bottom: 30px;
	font-size: 14px;
	text-align: right;
	color: rgba(0, 0, 0, 0.5);
}

.checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.checkbox .check {
	margin-right: 10px;
}

.checkbox .a {
	font-size: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.checkbox .a a {
	color: #268AAE;
}

.footer-flex__widget h5 {
	font-size: 20px;
	color: hsla(0, 0%, 100%, .75);
}

.btn-phone {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 15px 25px;
	background: white;
	transition: all .4s;
}

.btn-phone:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}

.btn-phone img {
	margin-right: 10px;
	margin-bottom: 0;
	width: 28px;
}

.btn-phone span {
	text-transform: uppercase;
	color: #67B4C7;
}

.footer-social {
	display: flex;
	align-items: center;
	color: #67B4C7;
}

.footer-social h4 {
	margin-right: 10px;
	text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
	.container_form {
		width: auto;
	}
}

@media screen and (max-width: 1000px) {
	.head_info h2 {
		font-size: 32px;
	}
}

@media screen and (max-width: 992px) {
	.btn-phone {
		display: inline-flex;
		margin-bottom: 40px;
	}

	.wrap {
		display: block;
		padding: 40px 0;
		width: auto;
	}

	.head_info {
		margin-left: 15px;
	}

	.header__logo img {
		max-width: 160px;
	}

	.content_text, .content_form {
		width: auto;
	}

}

@media screen and (max-width: 768px) {
	.footer-flex__widgetarea {
		display: block;
	}
}


@media screen and (max-width: 576px) {
	.head_info h2 {
		font-size: 24px;
	}

	.landing_page_container .question-title {
		font-size: 24px;
	}

	.container_form {
		padding: 30px;
	}

	.footer-flex {
		padding: 40px 15px;
	}

	.footer-flex p {
		font-size: 16px;
	}

	.head_info {
		padding: 20px 0;
	}
}


